*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/library_materialish_progress/build/
/library_materialish_progress/build/intermediates/javac/debug/classes/
/library_sweet_alert_dialog/build/
/library_sweet_alert_dialog/build/intermediates/javac/debug/classes/